</div><!-- End application content container -->
</div><!-- End application-div -->
<?php
/* Add secondary sidebar after workarea */
require_once("blocks/core/block-multibar.php");
?>
</div><!-- End workarea-div -->
<div id="content-closure-div"></div>
<?php @include("blocks/core/block-tagline.php"); ?>
</div><!-- End content-div -->
<?php
require_once("blocks/core/block-footer.php");
require_once("blocks/core/block-html-foot.php");
?>
