</div><!-- End workarea content container -->
</div><!-- End workarea-div -->
<div id="content-closure-div"></div>
<?php @include("blocks/core/block-tagline.php"); ?>
</div><!-- End content-div -->
<?php
require_once("blocks/core/block-footer.php");
require_once("blocks/core/block-html-foot.php");
?>
