<?php
require_once("blocks/core/block-early.php");
require_once("blocks/core/block-html-head.php");
require_once("blocks/core/block-header.php");
require_once("blocks/core/block-nav.php");
?>
<div id="content-div">
<?php
require_once("blocks/core/block-sidebar.php");
?>
<div id="workarea-div">
<div id="workarea-container">
