/* SECTION 1:Values and macros (common and skin-specific) {{{1 */
  /* Common dimensions {{{2 */
    /* Toplevel regions {{{3 */
#define WIDTH_GUTTER     8px /* Margins between columns */
#define WIDTH_FULL     850px /* Overall width */
#define WIDTH_SIDEBAR  210px /* Left column width */
#define WIDTH_WORKAREA 640px /* Right workarea width */
#define WIDTH_APP      460px /*   App area (left workarea) */
#define WIDTH_MULTIBAR 180px /*   Multibar (right workarea) */
#define WIDTH_BOOKSHELF 212px /* Bookshelf sidebar */
#define WIDTH_BOOKWORK  622px /* Workarea for book editing */
#define HEIGHT_CONTENT 400px 
    /* }}}3 Toplevel regions */
    /* Inner content containers {{{3 */
#define WIDTH_CONTENT_CONTAINER  834px /* Use whole space */
#define WIDTH_SIDEBAR_CONTAINER  202px /* Right-justified in sidebar div */
#define WIDTH_WORKAREA_CONTAINER 624px /* Full space when sidebar+workarea */
#define WIDTH_APP_CONTAINER      452px /* Leftmost part of workarea */
#define WIDTH_MULTIBAR_CONTAINER 164px /* Full multibar width */
#define WIDTH_BOOKSHELF_CONTAINER 212px 
#define WIDTH_BOOKWORK_CONTAINER  614px /* Bookshelf canvas container */
    /* }}}3 Inner content containers */
  /* }}}2 Common dimensions */
  /* Skin-specific colors {{{2 */
#define JOF_RED         #C82020
#define JOF_DARK_RED    #851414
#define JOF_DARKER_RED  #641010
#define JOF_LIGHT_RED   #E83030
#define JOF_LIGHTER_RED #F84040
  /* }}}2 Skin-specific colors */
/* }}}1 Values and macros (common and skin-specific) */
/* SECTION 2:Common CSS for all skins {{{1 */
#include "../common/default.css.h"
/* }}}1 */
/* SECTION 3:Common toplevel containers {{{1 */
  /* These control the base look and layout; required for all skins */
body.page-body {
color:black;
font-family:sans-serif;
font-size:11pt;
font-weight:normal;
background:#FFF url('/skins/basic/gradient_navy.png') repeat-x;
PACKED();
}

  /* Screen divisions {{{2 */
      /* These should generally have no margins....
       * content spacing is handled in containers below 
       */
#content-div {
display:block;
width:WIDTH_FULL;
margin:0px auto 0px auto;
min-height:HEIGHT_CONTENT;
border-left:1px solid black;
border-right:1px solid black;
border-bottom:1px solid black;
border-top:0;
background-color:#FFF;
color:black;
}

#sidebar-div {
float:left;
display:block;
width:WIDTH_SIDEBAR;
min-height:HEIGHT_CONTENT;
PACKED();
}

#workarea-div {
float:left;
display:block;
width:WIDTH_WORKAREA;
min-height:HEIGHT_CONTENT;
padding:0px;
border:0px;
margin:0 0 0 -1px;
}

#application-div {
float:left;
display:block;
width:WIDTH_APP;
min-height:HEIGHT_CONTENT;
PACKED();
}

#multibar-div {
float:left;
display:block;
width:WIDTH_MULTIBAR;
min-height:HEIGHT_CONTENT;
PACKED();
}

#tagline-div {
margin-left:auto;
margin-right:auto;
text-align:center;
font-style:italic;
font-size:14pt;
}
  /* }}}2 Screen divisions */
  /* Content containers {{{2 */
#content-container { /* Full-width page content */
width:WIDTH_CONTENT_CONTAINER;
border:0;
padding:0;
margin:0 auto;
}

#sidebar-container { /* Sidebar content */
width:WIDTH_SIDEBAR_CONTAINER;
border:0;
padding:0;
margin-left:WIDTH_GUTTER;
}

#workarea-container {
width:WIDTH_WORKAREA_CONTAINER;
margin-left:WIDTH_GUTTER;
height:auto;
}

#application-container {
width:WIDTH_APP_CONTAINER;
margin-left:WIDTH_GUTTER;
}

#multibar-container {
width:WIDTH_MULTIBAR_CONTAINER;
margin-left:WIDTH_GUTTER;
}

.form-popup { /* Popup is generally the same as a notebook page */
display:none;
border:2px solid black;
color:JOF_DARKER_RED;
background-color:white;
position:fixed;
z-index:1; /* Above when visible */
min-height:100px;
min-width:100px;
}

.form-popup-decoration {
border-top:1px solid black;
background-color:white;
}

.form-popup-close {
float:right;
font-weight:bold;
font-size:12px;
color:white;
background-color:JOF_LIGHT_RED;
border:1px solid black;
margin: 3px;
padding: 4px;
}

.form-popup-close:hover {
color:JOF_LIGHT_RED;
background-color:white;
}

  /* }}}2 Content containers */
/* }}}1 Common toplevel containers */
/* SECTION 4:Common toplevel content {{{1 */
/* SECTION 4.1:Main navigation (top-nav) {{{2 */
#define HEIGHT_NAV 24px
#top-nav-div {
background-color:JOF_RED;
color:white;
width:WIDTH_FULL;
margin:0px auto 0px auto;
border-left:1px solid black;
border-right:1px solid black;
border-bottom:1px solid black;
height:HEIGHT_NAV;
}

ul.top-nav {
font-weight:bold;
font-size:12px;
margin:0px;
padding:0px;
height:HEIGHT_NAV;
}

li.top-nav {
float:left;
border-right:1px solid black;
margin:0px;
padding:0px;
height:HEIGHT_NAV;
}

li.top-nav-meta {
float:right;
height:HEIGHT_NAV;
border-left:1px solid black;
margin:0px;
padding:0px;
}

a.top-nav, a.top-nav-meta {
padding-left:8px;
padding-right:8px;
padding-top:4px;
display:inline-block;
overflow:hidden;
color:#FFF;
background-color:JOF_RED;
height:20px; /* HEIGHT_NAV - padding-top */
}

a.top-nav:hover, a.top-nav-meta:hover, li.top-nav:hover, li.top-nav-meta:hover {
color:JOF_RED;
background-color:#FFF;
}
/* }}}2 Main navigation (top-nav) */
/* SECTION 4.2:Menu generics {{{2 */
  /* SECTION 4.2.1: Popup menus {{{3 */
#define HEIGHT_MENU_POPUP 20px
div.menu-popup {
position:absolute;
display:none;
border-left:1px solid black;
border-right:1px solid black;
border-top:1px solid black;
margin:0px;
padding:0px;
}

ul.menu-popup {
font-weight:bold;
font-size:12px;
color:#FFF;
PACKED();
background-color:JOF_RED;
}

li.menu-popup {
border-bottom:1px solid black;
margin:0px;
height:HEIGHT_MENU_POPUP;
padding:0px 8px;
}

a.menu-popup {
padding-left:8px;
margin-left:-8px;
padding-right:8px;
margin-right:-8px;
padding-top:4px;
display:inline-block;
overflow:hidden;
color:#FFF;
background-color:JOF_RED;
height:16px; /* HEIGHT_MENU_POPUP - padding-top */
width:100%;
}

a.menu-popup:hover, li.menu-popup:hover {
color:JOF_RED;
background-color:#FFF;
}
   /* }}}3 Popup menus */
  /* SECTION 4.2.2: Inline menus {{{3 */
#define HEIGHT_MENU_INLINE 24px
div.menu-inline {
PACKED();
}

ul.menu-inline {
height:HEIGHT_MENU_INLINE;
font-weight:bold;
font-size:12px;
color:#FFF;
margin:8px 8px 8px 8px;
border:1px solid black;
padding:0;
background-color:JOF_RED;
}

li.menu-inline {
float:left;
PACKED();
height:HEIGHT_MENU_INLINE;
}

a.menu-inline {
display:inline-block;
color:#FFF;
background-color:JOF_RED;
height:18px;
margin:0;
border-left:0;
border-top:0;
border-bottom:0;
border-right:1px solid black;
padding:6px 8px 0 8px;
}

a.menu-inline:hover, li.menu-inline:hover {
color:JOF_RED;
background-color:#FFF;
}
   /* }}}3 Inline menus */
/* }}}2 Menu generics */
/* SECTION 4.3:Footer {{{2 */
  /* Footer overall {{{3 */
#footer-div {
width:WIDTH_FULL;
height:36px;
margin:0px auto 0px auto;
}

.footer-text {
display:block;
font-size:9pt;
font-weight:normal;
width:WIDTH_FULL;
margin:0px auto 0px auto;
border:0px;
padding:0px;
text-align:center;
}
  /* }}}3 Footer overall */
  /* Footer contents {{{3 */
#footer-copyright-div {
}
#footer-contact-div {
}
#footer-validator-div {
}
  /* }}}3 Footer contents */
/* }}}2 Footer */
/* SECTION 4.4:Partner links {{{2 */
#partner-div {
width:WIDTH_FULL;
height:36px;
margin:0px auto;
}

ul.partner-nav {
font-weight:normal;
font-size:10px;
margin:0px;
padding:0px;
height:36px;
}

li.partner-nav-extern {
float:right;
border:0px;
margin-left:1px;
margin-right:1px;
padding-top:2px;
height:36px;
}

li.partner-nav-ref {
float:left;
border:0px;
margin-left:4px;
margin-right:4px;
padding-top:2px;
height:36px;
}

a.partner-nav {
padding:0px;
border:0px;
margin:0px;
overflow:hidden;
height:36px;
}
/* }}}2 Partner links */
/* SECTION 4.5:Generic block support {{{2 */
  /* SECTION 4.5.1: Common blocks {{{3 */
.block-title {
width:100%;
PACKED();
font-weight:bold;
text-align:center;
}

.block-text {
width:100%;
PACKED();
display:block;
text-align:center;
}
  /* }}}3 Common blocks */
  /* SECTION 4.5.2: Raw blocks {{{3 */
.block-raw {
width:100%;
border:0px;
padding:0px;
margin:8px 0px 0px 0px;
}
  /* }}}3 Raw blocks */
  /* SECTION 4.5.3: Multibar blocks {{{3 */
.block-multibar {
width:164px;
border:1px solid JOF_RED;
padding:0px;
margin:8px auto 0px auto;
}

.block-content-multibar {
border:0;
margin:0;
padding:3px;
}

.block-title-multibar {
background-color:JOF_RED;
color:#FFF;
}

.block-prefix-multibar, .block-suffix-multibar {
PACKED();
}

  /* }}}3 Multibar blocks */
  /* SECTION 4.5.4: Sidebar blocks {{{3 */
.block-sidebar {
width:198px;
border:1px solid JOF_RED;
padding:0px;
margin:8px auto 0px auto;
}

.block-content-sidebar {
PACKED();
}

.block-title-sidebar {
background-color:JOF_RED;
color:#FFF;
}

.block-prefix-sidebar, .block-suffix-sidebar {
PACKED();
}

  /* }}}3 Sidebar blocks */


/* }}}2 Generic block support */
/* }}}1 Common toplevel content */
/* SECTION 5:Skin-specific toplevel content {{{1 */
#skin-basic-header {
display:block;
width:WIDTH_FULL;
height:100px;
/*background:#FFF url('/skins/basic/header_bg.png') no-repeat; */
margin:10px auto 0px auto;
border:1px solid black;
}
/* }}}1 Skin-specific toplevel content */
/* SECTION 6:Application/block content {{{1 */
/* SECTION 6.1:Forms {{{2 */
  /* Generic forms {{{3 */ 
.form-div {
margin:0 auto;
}

.form-item-row {
}

.form-item-label {
text-align:right;
font-weight:bold;
vertical-align:middle;
}

.form-item-contents {
text-align:left;
vertical-align:middle;
}

  /* }}}3 Generic forms */
  /* Form items {{{3 */ 
.form-item-note {
margin-left:8px;
}
  /* }}}3 Form items */
/* }}}2 Forms */
/* SECTION 6.2:Map blocks {{{2 */
#define MAP_HEIGHT 350px
#define MAP_WIDTH  350px

#block-map-div {
width:MAP_WIDTH;
margin-top:10px;
margin-left:auto;
margin-right:auto;
}

.embedded-map {
height:MAP_HEIGHT;
width:MAP_WIDTH;
}
/* }}}2 Map blocks */
/* SECTION 6.3:Calendar {{{2 */
  /* Layout {{{3 */
.block-calendar-div {
width:90%;
text-align:center;
}

.block-calendar-row, #block-calendar-table {
width:100%;
text-align:center;
}
  /* }}}3 Layout */
  /* Cell display {{{3 */
.block-calendar-previous, .block-calendar-next {
font-size:10pt;
color:#888;
background-color:JOF_DARK_RED;
border:1px solid JOF_DARK_RED;
}

.block-calendar-title {
text-align:center;
}

.block-calendar-nav {
font-weight:bold;
font-size:12px;
color:white;
background-color:JOF_LIGHT_RED;
border:1px solid black;
padding: 0px 4px;
}

.block-calendar-nav:hover {
background-color:white;
color:JOF_LIGHT_RED;
padding: 0px 4px;
}

.block-calendar-current {
color:white;
font-size:10pt;
font-weight:bold;
background-color:JOF_RED;
border:1px solid JOF_RED;
}

.block-calendar-current:hover, .block-calendar-previous:hover, .block-calendar-next:hover {
color:JOF_RED;
background-color:white;
border:1px solid white;
}
  /* }}}3 Cell display */
/* }}}2 Calendar */
/* SECTION 6.4:Stories {{{2 */
  /* General layout {{{3 */
.story-div {
PACKED();
}
  /* }}}3 General layout */
  /* Headlines {{{3 */
.story-headline {
color:JOF_DARKER_RED;
border-bottom:2px solid JOF_DARKER_RED;
margin:0px;
}

h1.story-headline {
padding-top:10px;
font-size:20pt;
margin-bottom:10px;
clear:both;
}

h2.story-headline {
padding-top:5px;
font-size:16pt;
width:95%;
clear:both;
}

h3.story-headline {
padding-top:5px;
font-size:13pt;
width:90%;
clear:both;
}

h4.story-headline {
padding-top: 4px;
font-size:11pt;
width:100%;
clear:both;
}
  /* }}}3 Headlines */
  /* Images/bylines {{{3 */
.story-lede {
float:left;
margin:5px;
padding:0;
border:0;
}

.story-trail {
float:right;
margin:5px;
padding:0;
border:0;
}

.story-banner {
display:block;
margin-left:auto;
margin-right:auto;
padding:0;
border:0;
width:100%;
}
  /* }}}3 Images/bylines */
  /* Text {{{3 */
.story-span {
margin-top:5px;
display:block;
}

.story-span a {
text-decoration:underline;
}

.story-meta {
margin-top:5px;
display:block;
font-style:italic;
}

.story-error {
margin-top:5px;
display:block;
font-weight:bold;
font-size:13pt;
color:JOF_RED;
text-align:center;
}

.story-warning {
font-style:italic;
margin-top:5px;
display:block;
font-size:12pt;
color:JOF_RED;
text-align:center;
}
  /* }}}3 */
  /* Metainfo {{{3 */
  /* }}}3 Metainfo */
/* }}}2 Stories */
/* SECTION 6.5:Bookshelf {{{2 */
  /* Menu {{{3 */
#bookshelf-menu-div {
width:WIDTH_BOOKSHELF;
float:left;
PACKED();
}
#bookshelf-menu-container {
font-weight:bold;
width:WIDTH_BOOKSHELF_CONTAINER;
border:1px solid black;
margin:10px 0px 0px 0px;
padding:0px;
display:block;
text-align:center;
}

.bookshelf-title {
width:100%;
}

.book-span {
display:block;
color:#FFF;
background-color:JOF_RED;
border-top:1px solid #000;
}

.book-divider {
border-top:1px solid #000;
}

.book-span-divider {
}

.book-span:hover {
background-color:#FFF;
color:JOF_RED;
}
  /* }}}3 Menu */
  /* Workarea {{{3 */
#bookshelf-canvas-div {
width:WIDTH_BOOKWORK;
float:left;
PACKED();
}
#bookshelf-canvas-container {
width:WIDTH_BOOKWORK_CONTAINER;
border:0;
padding:0;
margin:0 0 0 8px;
min-height:600px;
}
  /* }}}3 Workarea */
/* }}}2 Bookshelf */
/* SECTION 6.7:Notebooks {{{2 */
.notebook-page-active {
display:block;
border:1px solid black;
padding:0;
margin:1px 0 0 0;
}
.notebook-page {
display:none;
border:1px solid black;
padding:0;
margin:1px 0 0 0;
}
.notebook-tab-list {
float:left;
display:block;
font-weight:bold;
font-size:12px;
text-align:center;
height:32px;
border:0;
padding:0;
margin:8px auto 0px 0px;
}
.notebook-tab-active {
height:22px;
background-color:#FFF;
color:JOF_RED;
float:left;
border-top:1px solid black;
border-left:1px solid black;
border-right:1px solid black;
border-bottom:1px solid #FFF;
padding:10px 8px 0px 8px;
margin:0 3px 0 0;
cursor:pointer;
}
.notebook-tab {
height:22px;
background-color:JOF_RED;
color:#FFF;
float:left;
border:1px solid black;
padding:10px 8px 0px 8px;
margin:0 3px 0 0;
cursor:pointer;
}
.notebook-tab:hover {
background-color:JOF_LIGHTER_RED;
}
/* }}}2 Notebooks */
/* }}}1 Application/block content */
