<?php @include("blocks/core/block-tagline.php"); ?>
<div id="content-closure-div"></div>
</div><!-- Close content container -->
</div><!-- Close content div -->
<?php
require_once("blocks/core/block-footer.php");
require_once("blocks/core/block-html-foot.php");
?>
